*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* general rules */
.cleafix::after{
  content:"";
  display:table;
  clear:both;
}
.float-left{
float:left;
}

.float-right{
  float:right;
}
.btn{
  color:white;
  border:1 px solid white;
  padding:5px;
  text-transform: uppercase;
}
.btn-green{
  color:white;
  background-color:lightgreen;
  padding:0 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* /general rules */

header{
  height:500px;
  background-color:rgb(56, 0, 138);
  background-image: url('../img/background-header.png');
  background-size: 70%;
  background-repeat:no-repeat;
  background-position:110% 110%;
}

.container{
  /* background-color: white; */
  width: 70%;
  /* height: 500px; */
  margin:auto;
}
.header-nav{
  /* background-color: yellow; */
  width: 100%;
  height: 50px;

}
/* barra di navigazione sinistra */
.header-nav-left li{
  color:white;
  list-style: none;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 10px;
  float:left;
}
/* barra di navigazione destra */
.header-nav-right li{
  color:white;
  list-style: none;
  padding: 20px 10px;
  text-transform: uppercase;
  font-size: 10px;
  float:right;



.jumbotron{
  /* background-color: pink; */
  height: 450px;
}
.banda-grey{
  background-color: grey;
  width: 100%;
  height:150px;
}
